@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <img src="assets/img/dominik-lange-VUOiQW4OeLI-unsplash.jpg" alt="" data-aos="fade-in">

        <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2>Büyüyen Bir Aile</h2>
                    <p>Huzurevimizde her yaş, her an değerli. Sağlık, mutluluk ve sıcak bir yuva sunuyoruz.</p>
                    <a href="about.html" class="btn-get-started">Hakkımızda</a>
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->

</main>


